body {
    margin:0;
    padding: 0;
}

.section1 {
    position: relative;
    height: 100vh;
    background:url(./images/opbg1.jpg) center center no-repeat;
    background-size: cover;
    z-index: -3;
 }

#overlay {
    position: fixed;
    background-color: rgba(0,0,0, .5);
    height: 100%;
    width: 100%;
    z-index: -2;
    
}

#navbar {
    z-index: 0;
}

.name {
    color: white;
}

a:link, a:hover, a:visited{
    color: white;
}


